header{ 
    font-family: sans-serif; 
    margin: 0px; 
    display: flex; 
    background-color: rgb(255, 255, 255); 
    justify-content: space-between; 
    padding: 1px; 
}
.datosinfo{
    text-align: right;
    
}

h6{
    color:rgb(34, 102, 43);
}

.lg1 {
    display: flex; 
    align-items: center; 
}

.lg1 img{ 
    margin-left: 10px;
    margin-right: 25px; 
} 


.nombre_emp { 
    display: flex; 
    font-weight: 700; 
    color: rgb(46, 109, 38);
}

ul{ 
    list-style: none; 
}  

.cont1 {
    display: grid;
    place-content: center;
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: 500px;
}
.d1 {
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: 100px;
}
.tit{
    color: rgb(28, 85, 26);
    font-size: xx-large;
    font-weight: 700;  
    font-family: sans-serif;
    margin-left: 20px;
}
h3 {
    color: rgb(28, 85, 26);
    font-weight: 700;
    font-family: sans-serif;
    text-align: center;

}

h2{
    color: rgb(226, 226, 226);
    background-color: rgb(34, 102, 43);

    text-align: center;
    margin-left: 130px;
    margin-right: 100px;
}


.contcenter {
    display: grid;
  place-content: center  ;
    
}

.mat{
    justify-content: center;
}
#textogr{
    display: flex;
    justify-content:space-between;
    color: rgb(28, 85, 26);
}
.imggc{
    margin-left: 50px;
}

.texbjimggc{
    display: flex;
    justify-content:space-between;
    text-align: center;
    color: rgb(28, 85, 26);
}

#textogc{
    display: flex;
    justify-content:space-evenly;
    text-align: center;
    color: rgb(28, 85, 26);
}

#textogcd{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(28, 85, 26);
}

#materiales {
    text-align: center;
    margin-left: 50px;

 }

#noreciclables{
    
    padding-left:  40px;
       
    }

#NOgc{
    padding-left:  40px;
}

.cont2 {
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: 600px;
}
.cont3 {
    background-color: rgb(216, 216, 216);
    width: 100%;
     height: 1110px;
}
 

.cont4 {
    background-color: rgb(226, 226, 226);
    width: 100%;
    height: 820px;
}
.cont5 {
    background-color: rgb(216, 216, 216);
    width: 100%;
    height: 530px;
}
.navbar {
    background-color: rgb(32, 56, 29);
}

.container {
    font-family: sans-serif;
}
#c{
    color: rgb(28, 85, 26);
}

.barrafin{
    background-color: rgb(34, 102, 43);
    height: 25px;
    color: white;
    text-align: center;
}
.contfooter{
    background-color: rgb(255, 255, 255);
    height: 100px;
}
.contfooter img{ 
    margin-left: 20px;
    margin-top: 10px; 
} 
.nombre_empf { 
    margin-left: 5px;
    margin-top: 5px;
    font-weight: 700; 
    color: rgb(34, 102, 43);
} 
a:link {
    text-decoration:none;
}
a:visited {
    color: rgb(34, 102, 43); 
    text-decoration: none 
}
a:hover {
     color: rgb(34, 102, 43);
     text-decoration: none 
}
.home{
    margin-left: 25px;
}
.final p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer2{
    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-style: double;
    border-color: rgb(44, 42, 40);
}

.pie {
    margin-top: 10px;
    display: flex;
    justify-content: center; 
}

.nosotros a{
    display: inline-block;
    flex-direction: column;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0 20px;
    text-decoration: none;
}
